html{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  color: rgb(237, 142, 15);
  font-family: cursive;
  font-weight: bold;
  margin-left: 15px;
  font-size: xx-large;
  margin-left: 40px;
}

img {
    margin-left: 40px;
}

li {
  display: inline-block;
}

a{
  display: block;
  color:rgb(45, 45, 56);
  text-align: center;
  text-decoration-line: none;
  padding: 10px 10px;
  font-size: large;
  font-weight: 800;
  border: 5px;
  background-color: rgba(163, 163, 194, 0.55);
  margin-right: 20px;
  border-radius: 15px;
  font-family: fantasy;
}

a:hover {
  background-color: rgb(241, 204, 151);
}

p{
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  text-indent: 2em;
}

h2{
  color: rgba(13, 134, 18, 0.89);
  font-size: x-large;
  margin-left: 40px;
}

input{
  margin-left: 50px;
  border-color: black;
}
