html {
  font-family: sans-serif;
}

h1, a {
  color: navy;
}

h2 {
  color: #4682B4;
}

article p {
  text-align: justify;
}

header {
  background-color: #7786a3;
  padding: 1px 0 30px 0;
}

header #title {
  padding: 10px;
}

#menu {
  display: inline;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  margin: 0;
  padding: 10px;
  display: inline;
}

footer {
  padding: 10px 10px;
  background-color: #7786a3;
}

body {
  margin: 0 auto;
}

figure {
  margin: 20px;
}

figure img {
  width: 200px;
}

#content-wrap {
  padding: 10px;
}

#more {
  font-weight: bold;
  background-color: #978fad;
  padding: 10px;
  font-size: 18px;

  cursor: pointer;
}

#more:hover {
  background-color: #78e6cf;
}

#more-content {
  background: #bbbbbb;
  padding: 10px;
}

#mail {
  width: 300px;
}

#submit {
  margin-top: 10px;
}

#database {
  float: right;
}

.citation {
  font-size: 70%;
}

.error {
  display: inline-block;
  background-color: white;
  border: 1px #b92467 solid;
  color: #b92467;
  padding: 5px;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Table Stylings */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid;
  border-color: #3498db;
  text-align: center;
  padding: 10px;
  width: 10%;
}

.dark_col {
  background-color: #d4E6f1;
}

.light_col {
  background-color: #edf4fc;
}

#current_page {
  font-weight: bold;
  border-style: solid;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
}

.bold {
  font-weight: bold;
  font-size: 105%;
}

.small {
  max-width: 200px;
  max-height: 200px;
}

#flower_order {
  width: 350px;
}

#flower_order ul {
  padding-left: 0;
}

.order {
  margin: 5px;
  list-style: none;
  text-align: right;
}

.order input {
  margin-left: 5px;
  display: inline;
}

#order_note {
  font-size: 80%;
  display: block;
  padding-left: 15px;
}

input[type=number] {
  width: 60px;
}

#flower_order input {
  float: right;
}

#current_img{
  display: block;
  height: 200px;
}

.button {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.app_order {
  margin: 5px;
  list-style: none;
  text-align: right;
}

.app_order input, select {
  margin-left: 50px;
  margin-right: 100px;
  width: 150px;
}

#app_button{
  float: right;
}

.app_note {
  margin-right: 50px;
  list-style: none;
  text-align: right;
  font-size: 80%;
}

#insurance_form{
  width: 600px;
}
